
<div class="col-md-6 offset-md-3 my-5">
    <h2 class="text-center mt-5">Opps! Page not found.</h2>
    <h4 class="text-center">Page might be initialised but has not been assigned any content on it.</h4>
    <p class="text-center mt-5 mb-3">Back to</p>
    <div class="d-flex justify-content-center"><a href="/" class="btn btn-info px-4">Home</a></div>
</div>