
          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <div class="row gy-4">
                <!-- Congratulations card -->
                <div class="col-md-12 col-lg-4">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title mb-1">New Onboarding? </h4>
                      <p class="pb-0">Best seller of the month</p>
                      <h4 class="text-primary mb-1">29th </h4>
                      <p class="mb-2 pb-1">78% of target 🚀</p>
                      
                        <!-- Button trigger modal -->
                        <button
                          type="button"
                          class="btn btn-sm btn-primary"
                          data-bs-toggle="modal"
                          data-bs-target="#largeModal">
                          Add College
                        </button>

                        
                        
                    </div>
                    <img
                      src="/assets/admin/img/icons/misc/triangle-light.png"
                      class="scaleX-n1-rtl position-absolute bottom-0 end-0"
                      width="166"
                      alt="triangle background"
                      data-app-light-img="icons/misc/triangle-light.png"
                      data-app-dark-img="icons/misc/triangle-dark.png" />
                    <img
                      src="/assets/admin/img/illustrations/trophy.png"
                      class="scaleX-n1-rtl position-absolute bottom-0 end-0 me-4 mb-4 pb-2"
                      width="83"
                      alt="view sales" />
                  </div>
                </div>
                <!--/ Congratulations card -->

                <!-- Transactions -->
                <div class="col-lg-8">
                  <div class="card">
                    <div class="card-header">
                      <div class="d-flex align-items-center justify-content-between">
                        <h5 class="card-title m-0 me-2">Service</h5>
                        <div class="dropdown">
                          <button
                            class="btn p-0"
                            type="button"
                            id="transactionID"
                            data-bs-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                            <i class="mdi mdi-dots-vertical mdi-24px"></i>
                          </button>
                          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="transactionID">
                            <a class="dropdown-item" href="javascript:void(0);">Refresh</a>
                            <a class="dropdown-item" href="javascript:void(0);">Share</a>
                            <a class="dropdown-item" href="javascript:void(0);">Update</a>
                          </div>
                        </div>
                      </div>
                      <p class="mt-3"><span class="fw-medium">Total hosted website on Web Campus</p>
                    </div>
                    <div class="card-body">
                      <div class="row g-3">
                        <div class="col-md-3 col-6">
                          <div class="d-flex align-items-center">
                            <div class="avatar">
                              <div class="avatar-initial bg-primary rounded shadow">
                                <i class="mdi mdi-trending-up mdi-24px"></i>
                              </div>
                            </div>
                            <div class="ms-3">
                              <div class="small mb-1">Hosted</div>
                              <h5 class="mb-0 text-center">28</h5>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-3 col-6">
                          <div class="d-flex align-items-center">
                            <div class="avatar">
                              <div class="avatar-initial bg-success rounded shadow">
                                <i class="mdi mdi-account-outline mdi-24px"></i>
                              </div>
                            </div>
                            <div class="ms-3">
                              <div class="small mb-1">Active</div>
                              <h5 class="mb-0 text-center">20</h5>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-3 col-6">
                          <div class="d-flex align-items-center">
                            <div class="avatar">
                              <div class="avatar-initial bg-warning rounded shadow">
                                <i class="mdi mdi-cellphone-link mdi-24px"></i>
                              </div>
                            </div>
                            <div class="ms-3">
                              <div class="small mb-1">Pending</div>
                              <h5 class="mb-0 text-center">3</h5>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-3 col-6">
                          <div class="d-flex align-items-center">
                            <div class="avatar">
                              <div class="avatar-initial bg-info rounded shadow">
                                <i class="mdi mdi-currency-usd mdi-24px"></i>
                              </div>
                            </div>
                            <div class="ms-3">
                              <div class="small mb-1">Inactive</div>
                              <h5 class="mb-0 text-center">5</h5>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--/ Transactions -->


                <!-- Data Tables -->
                <div class="col-12">
                    <div class="card">
                      <div class="table-responsive">
                        <table class="table">
                          <thead class="table-light">
                            <tr>
                              <th>No</th>
                              <th>College Name</th>
                              <th>Username</th>
                              <th>Password</th>
                              <th>Helpline</th>
                              <th>Status</th>
                              <th>Created On</th>
                              <th class="text-center">Active</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                                <td width="2%">1.</td>
                              <td>
                                <div class="d-flex align-items-center">
                                  <div class="avatar avatar-sm me-3">
                                    <img src="/assets/admin/img/avatars/1.png" alt="Avatar" class="rounded-circle" />
                                  </div>
                                  <div>
                                    <h6 class="mb-0 text-truncate">BRSY College</h6>
                                    <small class="text-truncate">brsy.co.in</small>
                                  </div>
                                </div>
                              </td>
                              <td class="text-truncate">
                                <i class="mdi mdi-laptop mdi-24px text-danger me-1"></i> Admin
                              </td>
                              <td class="text-truncate">24</td>
                              <td class="text-truncate">34500$</td>
                              <td><span class="badge bg-label-warning rounded-pill">Pending</span></td>
                              <td>12/12/2023</td>
                              <td>
                                <div class="form-check form-switch mb-2 d-flex justify-content-center">
                                  <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" />
                                </div>
                              </td>
                            </tr>
                            <tr>
                                <td width="2%">2. </td>
                              <td>
                                <div class="d-flex align-items-center">
                                  <div class="avatar avatar-sm me-3">
                                    <img src="/assets/admin/img/avatars/2.png" alt="Avatar" class="rounded-circle" />
                                  </div>
                                  <div>
                                    <h6 class="mb-0 text-truncate">RLSY Paliganj</h6>
                                    <small class="text-truncate">rlsypaliganj.in</small>
                                  </div>
                                </div>
                              </td>
                              <td class="text-truncate">
                                <i class="mdi mdi-laptop mdi-24px text-danger me-1"></i> Admin
                              </td>
                              <td class="text-truncate">24</td>
                              <td class="text-truncate">34500$</td>
                              <td><span class="badge bg-label-success rounded-pill">Active</span></td>
                              <td>12/12/2023</td>
                              <td>
                                
                                <div class="form-check form-switch mb-2 d-flex justify-content-center">
                                  <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" />
                                </div>
                              </td>
                            </tr>
                            <tr>
                                <td width="2%">3.</td>
                              <td>
                                <div class="d-flex align-items-center">
                                  <div class="avatar avatar-sm me-3">
                                    <img src="/assets/admin/img/avatars/3.png" alt="Avatar" class="rounded-circle" />
                                  </div>
                                  <div>
                                    <h6 class="mb-0 text-truncate">RPS Mahila College</h6>
                                    <small class="text-truncate">rpsmahilacollege.ac.in</small>
                                  </div>
                                </div>
                              </td>
                              <td class="text-truncate">
                                <i class="mdi mdi-laptop mdi-24px text-danger me-1"></i> Admin
                              </td>
                              <td class="text-truncate">24</td>
                              <td class="text-truncate">34500$</td>
                              <td><span class="badge bg-label-danger rounded-pill">Inactive</span></td>
                              <td>12/12/2023</td>
                              <td>
                                <div class="form-check form-switch mb-2 d-flex justify-content-center">
                                  <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" />
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <!--/ Data Tables -->

              </div>
            </div>
            <!-- / Content -->

            <!-- Footer -->
            <footer class="content-footer footer bg-footer-theme">
              <div class="container-xxl">
                <div
                  class="footer-container d-flex align-items-center justify-content-between py-3 flex-md-row flex-column">
                  <div class="text-body mb-2 mb-md-0">
                    ©
                    <script>
                      document.write(new Date().getFullYear());
                    </script>
                    , made with <span class="text-danger"><i class="tf-icons mdi mdi-heart"></i></span> by
                    <a href="https://themeselection.com" target="_blank" class="footer-link fw-medium"
                      >ThemeSelection</a
                    >
                  </div>
                  <div class="d-none d-lg-inline-block">
                    <a href="https://themeselection.com/license/" class="footer-link me-3" target="_blank">License</a>
                    <a href="https://themeselection.com/" target="_blank" class="footer-link me-3">More Themes</a>

                    <a
                      href="https://demos.themeselection.com/materio-bootstrap-html-admin-template/documentation/"
                      target="_blank"
                      class="footer-link me-3"
                      >Documentation</a
                    >

                    <a
                      href="https://github.com/themeselection/materio-bootstrap-html-admin-template-free/issues"
                      target="_blank"
                      class="footer-link"
                      >Support</a
                    >
                  </div>
                </div>
              </div>
            </footer>
            <!-- / Footer -->

            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->



          
                        <!-- Modal -->
                      <!-- Large Modal -->
                      <div class="modal fade" id="largeModal" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                          <div class="modal-content">
                            <form action="/admin/add-college" method="post">
                                
                              <div class="modal-header">
                                <h4 class="modal-title" id="exampleModalLabel3">New College</h4>
                                <button
                                  type="button"
                                  class="btn-close"
                                  data-bs-dismiss="modal"
                                  aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                <div class="row g-2">
                                  <div class="col-md-7 mb-2">
                                    <div class="form-floating form-floating-outline">
                                      <input
                                        type="text"
                                        id="collegename"
                                        class="form-control"
                                        name="collegename"
                                        placeholder="New College" />
                                      <label for="collegename">College Name</label>
                                    </div>
                                  </div>
                                  <div class="col-md-5 mb-2">
                                    <div class="form-floating form-floating-outline">
                                      <input
                                        type="text"
                                        id="domain"
                                        name="domain"
                                        class="form-control"
                                        placeholder="webcampus.in" />
                                      <label for="domain">Domain Name</label>
                                    </div>
                                  </div>
                                  <div class="col-md-6 mb-2">
                                    <div class="form-floating form-floating-outline">
                                      <input
                                        type="text"
                                        id="username"
                                        class="form-control"
                                        name="username"
                                        placeholder="RLSY023" />
                                      <label for="username">Username</label>
                                    </div>
                                  </div>
                                  <div class="col-md-6 mb-2">
                                    <div class="form-floating form-floating-outline">
                                      <input
                                        type="text"
                                        id="password"
                                        class="form-control"
                                        name="password"
                                        placeholder="234567" />
                                      <label for="password">Password</label>
                                    </div>
                                  </div>
                                  <div class="col-md-6 mb-2">
                                    <div class="form-floating form-floating-outline">
                                      <input
                                        type="text"
                                        id="helpline"
                                        class="form-control"
                                        name="helpline"
                                        placeholder="7050020659" />
                                      <label for="helpline">Helpline No.</label>
                                    </div>
                                  </div>
                                  <div class="col-md-6 mb-2">
                                    <div class="form-floating form-floating-outline">
                                      <input
                                        type="text"
                                        id="principal"
                                        name="principal"
                                        class="form-control"
                                        placeholder="Aditya Raj" />
                                      <label for="principal">Principal Name</label>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                  Close
                                </button>
                                <button type="submit" class="btn btn-primary">Save </button>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
