<div class="container">
    <div class="owl-carousel owl-theme mt-4">
        <div class="item">
            <div class="image">
                <img src="/assets/images/slider.png" alt="" class="review-image">
            </div>
        </div>
        <div class="item">
            <div class="image">
                <img src="/assets/images/slider.png" alt="" class="review-image">
            </div>
        </div>
        <div class="item">
            <div class="image">
                <img src="/assets/images/slider.png" alt="" class="review-image">
            </div>
        </div>
        <div class="item">
            <div class="image">
                <img src="/assets/images/slider.png" alt="" class="review-image">
            </div>
        </div>
        <div class="item">
            <div class="image">
                <img src="/assets/images/slider.png" alt="" class="review-image">
            </div>
        </div>
    </div>
</div>

<div class="container my-4">
    <div class="links">
        <div class="row">
            <div class="col-md-6">
                <div class="notice-link">
                    <div class="heading bg-dark">
                        <h3>Notice & Update</h3>
                    </div>
                    <div class="body">
                        <ul>
                            <li>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, deleniti?
                            </li>
                            <li>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, deleniti?
                            </li>
                            <li>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, deleniti?
                            </li>
                            <li>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, deleniti?
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="notice-link">
                    <div class="heading bg-dark">
                        <h3>Latest Link</h3>
                    </div>
                    <div class="body">
                        <ul>
                            <li>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, deleniti?
                            </li>
                            <li>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, deleniti?
                            </li>
                            <li>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, deleniti?
                            </li>
                            <li>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, deleniti?
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container my-4">
    <section class="three">
        <div class="row">
            <div class="col-md-7">
                <div class="important-link">
                    <div class="heading bg-dark">
                        <h3>College Important Link</h3>
                    </div>
                    <div class="body">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse optio sunt alias sapiente est ea voluptatem, qui temporibus dolorum. Modi harum, doloremque quae repellat odit nihil, quibusdam quam iste labore in totam maxime similique? Aperiam veniam vel dicta illo nobis, nisi placeat totam quos nam ipsam officiis voluptas modi doloremque.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="about-college">
                    <div class="heading bg-dark">
                        <h3>About College</h3>
                    </div>
                    <div class="body">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda asperiores ea quia, quae eveniet vel deleniti sed cumque eligendi labore ex, facere, est praesentium impedit eaque provident numquam. Quod, sed.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="container my-4">
    <div class="col-md-12">
        <div class="important-link">
            <div class="heading bg-dark">
                <h3>College Important Link</h3>
            </div>
            <div class="body">
                    
                <div class="row">
                    <div class="col-md-8">
                        <div class="content px-5 py-3">
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit officia ad sequi doloremque consectetur! Quia inventore, iusto alias blanditiis cumque cupiditate sed quasi tempora sunt. Minima enim, totam in tempora ea voluptates, similique veniam explicabo nemo ipsum natus atque pariatur! Alias dignissimos asperiores optio iste laboriosam accusamus itaque iure! Impedit magnam expedita doloribus nulla! Reiciendis numquam sint expedita iusto deleniti recusandae iste possimus omnis animi dignissimos itaque repellat laboriosam dolores tempore aut facere asperiores quas, ipsa eum! Impedit eligendi culpa beatae, facilis odio pariatur! Sapiente nulla nobis, quibusdam, sunt eligendi modi doloribus aut at repudiandae dolor similique provident reprehenderit temporibus?</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img src="/assets/images/principal.jpg" alt="Principal Image" class="px-5 py-3" style="width: 100%;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container my-4">
    <div class="col-md-12">
        <div class="gallery-image">
            <h3 class="mb-0 py-2 px-3" style="border-bottom: 2px solid black;">Gallery</h3>
            <div class="row p-3">
                <div class="col-md-3">
                    <div class="card">
                        <img src="/assets/images/gallery.jpg" alt="Gallery highlights" width="100%">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img src="/assets/images/gallery.jpg" alt="Gallery highlights" width="100%">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img src="/assets/images/gallery.jpg" alt="Gallery highlights" width="100%">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img src="/assets/images/gallery.jpg" alt="Gallery highlights" width="100%">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
